@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif;
    scroll-behavior: smooth;
    color: white;
}


footer{
    width:100%;
    height: 350px;
    margin-top: 80px;
    background-color: rgb(29,27,27);
}

.ft{
    
    
    padding-top: 50px;
}
.ft-a {
    width: 300px;
    
   
}
.ft-a p{

    color: #9e9b97;
    padding-top: 20px;
    padding-left:30px ;
    padding-right: 30px;
    font-size: 14px;
    text-align: justify;
}

.ft-b{
    width: 300px;
}

.ft-b p{
    color: #9e9b97;
    /* padding-top: 10px; */
    text-align: center;
}
.ft-b p i{
    color: #9e9b97;
    font-size: 25px;
    margin-right: 10px;

}
.ft-c ul{
    list-style: none;
    padding-left: 30px;
    font-size: 18px;
    margin-top: 20px;
}

.ft-c ul a{
    text-decoration: none;
    color: #9e9b97;
    margin: 10px;
}

.ft-c ul a:hover{
    color: #e2c663;
}


.ft-d {
    width: 300px;
    text-align: center;
    
    
}



.ft-bottom{
    width: 100%;
    height: 60px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ft-bottom p{
    padding-left: 20px;
}
.ft-icon{
    font-size: 30px;
    margin-right: 20px;

}
.ft-icon a i{
    margin-left: 15px;
    color: #e2c663;
}

.ft-icon a i:hover{
  text-shadow: 0 0 25px #e2c663, 0 0 50px #e2c663, 0 0 100px #e2c663;


}

.cage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}

.cage img{
 margin-left: 80px;
}
.cage p{
    width: 400px;
    font-size: 20px;
    text-align: center;
    color: white;
    font-family: "Dancing Script", serif;
}