@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", serif;
    scroll-behavior: smooth;
    color: white;
   text-decoration: none;
   

}
.s-ban {
    width: 100%;
    height: 550px;
    background: linear-gradient(#ecbc2ecc,rgba(5, 23, 33, 0.5)),url("../images/ban.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    /* opacity: 0.7; */
}

.s-hd h1{
    font-size: 60px;
    text-align: center;
    margin: 70px;
}

.s-hd p{
    width: 450px;
    font-size: 18px;
    color:  #9e9b97;
    margin-top: 20px;
    text-align: center;
    margin-left: 420px;
}

.s-1 h3{
    color: #e2c663;
}

.s-line{
    width: 600px;
    height: 5px;
    background-color: #e2c663;
    border-radius: 10px;
    margin-left: 350px;
}

.in-service p{
    color: #9e9b97;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.s-2 h3{
    font-size: 30px;
    color: #e2c663;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.s-2 p{
    color: #9e9b97;
    font-size: 18px;
    text-align: center;
   
    
}


.g-parallex{
    width: 100%;
    height: 350px;
    /* background: linear-gradient(#dcc324cc,rgba(5, 23, 33, 0.5)),url("../images/s-ban.png"); */

    background: url("../images/s-ban.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 100px;
    opacity: 0.8;
}

.g-parallex-2{
    width: 100%;
    height: 350px;
    /* background: linear-gradient(#dcc324cc,rgba(5, 23, 33, 0.5)),url("../images/s-ban.png"); */

    background: url("../images/ser-2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-top: 100px;
    /* opacity: 0.8; */
}

.g-parallex h2{
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    padding-top: 150px;
    color:#e2c663;
    text-shadow: 0 0 5px #282825, 0 0 20px #000000, 0 0 20px #0e0d0d;;
    opacity: 10.0;
}

.g-parallex-2 h2{
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    padding-top: 150px;
    color:#e2c663;
    text-shadow: 0 0 5px #282825, 0 0 20px #000000, 0 0 20px #0e0d0d;;
    opacity: 10.0;
}

.team-img-br{
    width: 310px;
    height: 270px;
    border: 3px solid #e2c663;
    border-radius: 30px;
    margin-bottom: 150px;
    /* margin-left: 50px; */

}

.team-img-1 img{
    width: 300px;
    height: 280px;
    /* background: url("../images/about-ammarah.jpg"); */
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.team-img-br-2{
    width: 480px;
    height: 370px;
    border: 3px solid #e2c663;
    border-radius: 30px;
    margin-bottom: 150px;
    margin-left: 50px;

}

.team-img-2 img{
    width: 480px;
    height: 380px;
    
    
    border-radius: 30px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.package{
    margin-top: 100px;
}

.pack-btn:hover{
    box-shadow: 0 0 25px #e2c663, 0 0 50px #000000, 0 0 50px #e2c663;

}

@media(max-width:992px){
    .s-ban{
        width: 100%;
        height: 500px;
    }
    .s-hd h1{
        font-size: 50px;
    }
    .s-1{
        margin: 30px;
    }
    .s-1 p{
        margin-left: 130px;
    }

    .s-line{
        margin-left: 50px;
    }
.ser-img img{
    width: 300px;
    height: 300px;
    margin-left: 10px;
}
.none{
    display: none;
}

.example-image-link img{
    margin: 10px;
}

.g-parallex h2{
    font-size: 40px;
}

.g-parallex-2 h2{
    font-size: 40px;
}
}

@media(max-width:576px){
    .s-hd h1{
        font-size: 40px;
    }
    .s-1{
        /* margin: 20px; */
    }
    .s-1 p{
        font-size: 14px;
        margin-left: 40px;
    }

    .s-line{
        width: 400px;
        margin-left: 70px;
    }
    .ser-img img{
        
        margin-left: 90px;
    }
    .t-col{
        margin-left: 90px;
    }
    .t-col-ch{
        margin-left: -30px;

    }
    .p-img img{
        margin-left: 100px;
    }
    .pack{
        margin-bottom: 50px;
    }
}